:root {
  --button-background-color: #ea3546;
  --button-box-shadow: 3px 3px 8px rgba(65, 34, 34, 0.2);
  --info-background-color: hsla(354, 79%, 68%, 0.05);
}

section {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 100px;
  font-weight: 600;
}
h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 2;
}
h3 {
  font-family: "Fredoka", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
p {
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
  font-size: 22px;
}
.name-bar {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}

.container {
  max-width: 800px;
  margin: 60px auto;
}

.alignment-center {
  display: flex;
  justify-content: center;
}
.margin-button {
  margin: 60px 0 80px;
}
.button {
  display: flex;
  justify-content: center;
}
.button a {
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  background-color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  font-size: 20px;
  color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  text-align: center;
}
.button a:hover {
  box-shadow: var(--button-box-shadow);
  color: var(--button-background-color);
  border: 1px solid var(--button-background-color);
  background-color: white;
}

.info p {
  background-color: var(--info-background-color);
  padding: 35px;
  margin: 20px;
}
.mail {
  margin: -19px auto;
  color: var(--button-background-color);
  font-size: 18px;
}
.contact-me {
  margin-top: 35px;
  font-size: 25px;
}
.primary-color {
  color: var(--button-background-color);
}
.primary-bg-color {
  background-color: var(--info-background-color);
}
.border-image {
  border: 1px solid var(--button-background-color);
}
